@()(implicit flash:Flash)
@main("Play Application") {
@welcome(flash)
<h2 class="text-center">Login Form</h2>

<form style="border: 3px solid #f1f1f1;" action="@routes.LoginController.login" method="post">
    <div style=" text-align: center;
    margin: 24px 0 12px 0;">
        <img src="@routes.Assets.versioned("images/login.png")" height=150px alt="Avatar" style="width: 40%;
    border-radius: 50%;">
    </div>

    <div style="padding:16px;">
        <label><b>Username</b></label>
        <input type="text" style="width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;" placeholder="Enter Username" name="username" required>

        <label><b>Password</b></label>
        <input type="password" style="width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;" placeholder="Enter Password" name="password" required>

        <button style="background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;"
 type="submit">Login</button>
        <button style="background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;"
        type="submit"><a href="/signup">Signup</a></button>

        <input type="checkbox" checked="checked"> Remember me
    <h1>@flash.get("msg")</h1>
    </div>

    <div style="padding:16px;" style="background-color:#f1f1f1">
        <button style="background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;width: auto;
    padding: 10px 18px;
    background-color: #f44336;"
        type="button">Cancel</button>
        <span style="float:right;padding-top:16px">Forgot <a href="#">password?</a></span>
    </div>
</form>
}