@import services._
@(user:List[SignUp],request:play.api.mvc.RequestHeader)(implicit flash: Flash)

@main("Play App") {
@welcome(flash)
<div class="container">
    <h2>User Profile</h2>
    <p>Account Information</p>
    <table class="table">
        <thead>
        <tr>
            <th>UserName</th>
            <th>Email</th>
            <th>DateOfBirth</th>
            <th>Country</th>
            <th>Gender</th>
        </tr>
        </thead>
        <tbody>
        <tr class="info">
            <td>@user(0).username</td>
            <td>@user(0).email</td>
            <td>@user(0).dob</td>
            <td>@user(0).country</td>
            <td>@user(0).gender</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="text-center">
@if(user(0).isUserRole){
<h1 class="text-center"></h1>
    <button class="btn-info"><a href="@routes.ManageController.ManagementArea()">Manage</a></button>
}
<button class="btn-danger text-center"><a href="/logout">Logout</a></button>
</div>
}





